<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qpeka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.qpeka.css" rel="stylesheet">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/layout.css" rel="stylesheet">
    <script src="assets/js/jquery.js"></script>
	<script src="assets/js/jquery.knob.js"></script>
	<script src="assets/js/qpeka.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
 </head>
			<body>
				<div class="container-fluid sideLayout">
					<div class="row-fluid">
						<div class="span2 well leftbar">
								<div class="row-fluid">
									<a href="#"><img src="assets/img/logo.gif" style="width:148px;height:100px" alt="qpeka"></a>
								</div>
								   <nav id="accordion" class="nav nav-pills nav-stacked">
										<li><a><i class="icon-home"></i>Home</a></li>
										<li><a><i class="icon-book"></i>Works</a>
												<ul class="nav nav-pills nav-stacked">
													<li><a href="#">Books</a></li>
													<li><a href="#">Articles</a></li>
													<li><a href="#">Poems</a></li>
												</ul>
										</li>
			   
										<li class="active">
												<a href="#" class="active"><i class="icon-user"></i>Friends</a></li>
			   
													<li><a><i class="icon-user"></i>Groups</a>
														<ul class="nav nav-pills nav-stacked">
																		<li><a href="#">Authors</a></li>
																		<li><a href="#">Others</a></li>
																		<li><a href="#">Works</a></li>
															</ul>
													</li>
												
													<li><a><i class="icon-tag"></i>Discussions</a>
															<ul class="nav nav-pills nav-stacked">
																		<li><a href="#">Authors</a></li>
																		<li><a href="#">Others</a></li>
																		<li><a href="#">Works</a></li>
															</ul>
													</li>
											        <li><a href="#" ><i class="icon-download-alt"></i>Published</a></li>
												</nav>
								
								
							
						</div>
				 
				 <div class="span8 well middlesection">
				 
				 
				 <div class="span4">
				 <div class="row-fluid">
				   <div class="stats" style="width:301px;">
		  <div class="text-info2" style="text-align:left;">
				  <a href="#"> &nbsp;&nbsp;<img src="assets/img/qpeka_107.png" style="height:22px;width:20px;"> <strong style="color:#15317E">MY LIBRARY</strong></a>
		  </div>
		  </div>
		  <div id="blck">
		  
	   <div id="myCarousel" class="carousel slide">
	  <center>
	         <div class="carousel-inner">
			   <div class="active item">	          		
			    <div class="span12">
			    <div class="span4" style="text-align:center;">
				  <img src="assets/img/testimg1.jpg" style="height:120px; width:80px; padding-top:2px;" class="img-polaroid">
                 <div class="caption">
				  <a href="#"> <strong class="text-info2">Book 1</strong></a>
			    </div>
				</div>
				
				
				<div class="span4" style="text-align:center;">
				  <img src="assets/img/testimg4.jpg" style="height:120px; width:80px; padding-top:2px;" class="img-polaroid">
                 <div class="caption">
				  <a href="#"> <strong class="text-info2">Book 2</strong></a>
			    </div>
				</div>
				
				<div class="span4" style="text-align:center;">
				  <img src="assets/img/native.gif" style="height:120px; width:80px; padding-top:2px;" class="img-polaroid">
                 <div class="caption">
				  <a href="#"> <strong class="text-info2">Book 3</strong></a>
			    </div>
				</div>
			</div>
			
			
			</div>
			
			<div class="item">
			<div class="span12" style="text-align:center">
			    			    <div class="span4" style="text-align:center;">
				  <img src="assets/img/continued_sm.gif" style="height:120px; width:80px; padding-top:2px;" class="img-polaroid">
                 <div class="caption">
				  <a href="#"> <strong class="text-info2">Book 4</strong></a>
			    </div>
				</div>
				
				
				<div class="span4" style="text-align:center;">
				  <img src="assets/img/testimg.jpg" style="height:120px; width:80px; padding-top:2px;" class="img-polaroid">
                 <div class="caption">
				  <a href="#"> <strong class="text-info2"> Book 5</strong></a>
			    </div>
				</div>
				
				<div class="span4" style="text-align:center;">
				  <img src="assets/img/testimg1.jpg" style="height:120px; width:80px; padding-top:2px;" class="img-polaroid">
                 <div class="caption">
				  <a href="#"> <strong class="text-info2">Book 6</strong></a>
			    </div>
				</div>

			</div>
			</div>
			
			
			</div>
			
			
	  </center>
			 <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			 <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	     </div>
	     </div>
				 
				 </div>
				 
				 
				 <div class="row-fluid">
				 
				 </div>
				 
				 <div class="row-fluid">
				 
				 </div>
				 
				 
				 </div>
				 
				 <div class="span8">
				 
				 </div>
				
				 </div>
				 
				 
				 
				 
				 <div class="span2 well rightbar">
				 <div class="row-fluid">
				 <h5 style="text-align:center;color:white;" >Book Of The Month</h5>
				 <div class="thumbnail">
         	      <div id="myCarousel23" class="carousel slide">
						<div class="carousel-inner">
						      <div class="item active">
						         
						          		<div class="row-fluid" style="background-color:#E0E0E0">	          		
											<div class="span12" style="text-align:center;">
												<img src="assets/img/testimg2.jpg" style="height: 100px;width: 70px;"  class="img-polaroid"><br><br>
										  </div>
										</div>
										<div class="row-fluid" >
										<div class="span12" style="text-align:left">
										<strong class="text-info">Angelos & Demons2</strong>
											<p>At Whistling Woods International School of Filmmaking, we give our students the opportunity to grow beyond their beliefs.</p>
										 </div>
										</div>
						         		
						       		         						          
						      </div>
						      <div class="item">
						       
						          		<div class="row-fluid" style="background-color:#E0E0E0">	          		
											<div class="span12" style="text-align:center;">
												<img src="assets/img/testimg4.jpg" style="height: 100px;width: 70px;"  class="img-polaroid"><br><br>
										  </div>
										</div>
										<div class="row-fluid" >
										<div class="span12" style="text-align:left">
										<strong class="text-info">Angelos & Demons2</strong>
											<p>At Whistling Woods International School of Filmmaking, we give our students the opportunity to grow beyond their beliefs.</p>
										 </div>
										</div>
						      
						       	          </div>
						 </div>					
						 <a class="left carousel-control" href="#myCarousel23" data-slide="prev">&lsaquo;</a>
						 <a class="right carousel-control" href="#myCarousel23" data-slide="next">&rsaquo;</a>
					</div>
					</div>
				 
				 </div>
				 
				 <div class="row-fluid">
				 
				 </div>
				 
				 </div>
				
				</div>	
				</div>
			</body>
			</html>

   